@font-face {
    font-family: "KeysBlack";
    src: url("../fonts/Keys-Black.otf") format("opentype");
}

.center {
    text-align: center;
    color: black;
}

.firstFont {
    font-family: "KeysBlack";
}

.secondFont {
    font-family: 'Dancing Script', cursive;
}

.icons, .fonts, .svgs {
    border-bottom: 1px solid black;
    background-color: antiquewhite;
}

img {
    height: 80px;
    width: 80px;
}
